@import "footer.css";
@import "explore.css";
@import "player.css";
@import "mhzdetail.css";
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
html,
body {
    height: 100%;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

